body {
    font-family: sans-serif;
    background-color: #fdfefe;
    margin: 0;
    padding: 0px;
}

.did-use-screen {
    position: relative;
}

.did-use-content{
    text-align: center;
    padding-top: 25px;
}

.did-use-content p {
    padding: 25px;
    border:#383737
}

header {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: azure;

}

button {
    display: block;
    padding: 0.5em 1em;
    margin: auto;
    cursor: pointer;
}



.input-label {
    display: inline-block;
    margin: 70px auto;
    font-size: 1.5em;
    padding: 0.6em 1em;
    background-color: rgb(255, 204, 108);
    color: #383737 ;
    text-decoration: none;
    border: none;
    border-bottom: solid 4px rgb(250, 157, 104);
    border-radius: 3px;
    cursor: pointer;
}

input {
    display: none;
}

input:checked +label {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    background-color: rgb(250, 157, 104);
    border-bottom: none;
    margin-bottom: 74px;
}


#save-button {
    margin: 60px auto;
    background-color: rgb(59, 117, 1);
    color:aliceblue;
    
}